<section>
  <div class="jumbotron">
    <h2>Welcome to the Digsy Admin Dashboard</h2>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to "Admin Dashboard", root_path, class: 'btn btn-primary btn-lg' %>
    <% else %>
      <%= link_to "Sign Up", new_admin_registration_path, class: 'btn btn-success btn-lg' %>
      <%= link_to "Sign In", new_admin_session_path, class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
</section>
